* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #9b9898;
  margin: 0;
}
/* Navigation Bar */
header {
  display: flex;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}
#header-background {
  background-image: url("./images/header.jpg");
  width: 100%;
}
header h1 {
  flex: 1 0 200px;
  font-size: 48px;
  margin-left: 10px;
}

header img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
}

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  position: relative;
  display: flex;
  margin-left: 25px;
  padding: 0 10px;
  height: 100%;
}

header a {
  z-index: 1;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  padding: 20px 5px;
}
li:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: grey;
  right: 0;
  z-index: 0;
  top: 33.33%;
  transition: all 0.5s;
}
li:after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: grey;
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
}
a:before {
  position: absolute;
  content: "";
  height: 33.33%;
  width: 0;
  background-color: grey;
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
}
li:hover:before,
li:hover:after,
li:hover a:before {
  width: 100%;
}

.background {
  background-image: url("./images/background2.jfif");
}
h2 {
  font-size: 52px;
  text-align: center;
  border-bottom: 5px solid #0077b5;
  margin: 5px;
  padding: 10px;
  color: white;
}

h3 {
  color: white;
  font-size: 28px;
}
p {
  color: white;
  text-indent: 50px;
}

/* My Works Section */
#work {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 90px 1fr;
}

#work > h2 {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
}

#worksection {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 250px);
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#worksection .project1 {
  grid-column: 1/3;
  grid-row: 1/1;
}
#worksection .project1 img {
  height: 300px;
}

#worksection .project2 {
  grid-column: 1/1;
  grid-row: 2/2;
}
#worksection .project3 {
  grid-column: 2/3;
  grid-row: 2/2;
}
#worksection .project4 {
  grid-column: 1/1;
  grid-row: 3/3;
}
#worksection .project5 {
  grid-column: 2/3;
  grid-row: 3/3;
}

/* Contact me Section */
#contactme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 100px;
  padding-top: 50px;
}
.contactheader {
  padding-top: 30px;
}

#contactme > div {
  align-self: center;
  margin-left: 100px;
}

#resume img,
#linkedin img,
#github img,
#twitter img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
#github img {
  width: 200px;
}

#resume:hover::after {
  content: "Resume";
  position: absolute;
  background-color: darkgreen;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

#linkedin:hover::after {
  content: "Linkedin";
  position: absolute;
  background-color: #0077b5;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

#github:hover::after {
  content: "GitHub";
  position: absolute;
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}
#twitter:hover::after {
  content: "Twitter";
  position: absolute;
  background-color: #1da1f2;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

/* Media Screen Adjustments */
@media screen and (max-width: 768px) {
  .background article p {
    font-size: 8px;
  }
}
@media screen and (max-width: 375px) {
  #aboutme {
    font-size: smaller;
  }
}
