* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  margin: 0;
}
/* Navigation Bar */
header {
  display: flex;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}
#header-background {
  background-image: url("./images/background8.jpg");
  width: 100%;
  background-position: center center;
}

header img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
  margin: 10px;
}

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 100%;
  align-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 60px;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

li {
  position: relative;
  display: flex;
  margin-left: 25px;
  padding: 0 10px;
  height: 100%;
}

header a {
  z-index: 1;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  padding: 20px 5px;
}

/*Main background image */
.background {
  background-image: url("./images/background2.jfif");
  background-position: center top;
  background-size: cover;
}
/* Header and paragraph font settings */
h2 {
  font-size: 52px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  color: white;
}

h3 {
  color: white;
  font-size: 28px;
}
p {
  color: white;
  margin: 0px 40px;
  font-size: 18px;
  text-align: center;
}

/* My Portfolio Works Section */
#work {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 70px 1fr;
}

#worksection {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 250px);
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#worksection .project1 {
  grid-column: 1/3;
  grid-row: 1/1;
}
#worksection .project1 img {
  height: 300px;
}

#worksection .project2 {
  grid-column: 1/1;
  grid-row: 2/2;
}
#worksection .project3 {
  grid-column: 2/3;
  grid-row: 2/2;
}
#worksection .project4 {
  grid-column: 1/1;
  grid-row: 3/3;
}
#worksection .project5 {
  grid-column: 2/3;
  grid-row: 3/3;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  text-decoration: none;
  padding: 2px 2px;
  font-family: sans-serif;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 1px 3px rgb(29, 77, 179), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover {
  box-shadow: 0 14px 28px rgb(29, 77, 179), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Contact me Section */
#contactheader {
  margin-bottom: 40px;
}
.body {
  display: flex;
  flex-direction: column;
}

/* Media Q for 1430 Media Size Display */
@media screen and (max-width: 1430px) {
  ul {
    display: flex;
    flex-flow: column wrap;
  }
  #testbutton,
  #testbutton2,
  #testbutton3,
  #testbutton4 {
    margin: 10px;
  }
}
/* Media Q for 1140px Size display */
@media screen and (max-width: 1140px) {
  #header-background {
    background-image: url("./images/headernew.png");
    display: flex;
    flex-direction: column;
    background-position: center top;
    background-size: cover;
  }
  .background {
    background-image: url("./images/new2.jpg");
    font-size: 1em;
    background-position: center top;
  }
  /* Navigation */
  header img {
    align-self: center;
  }

  #container #shadow {
    font-size: medium;
    margin: 50px 20px 0px 0px;
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
  }

  li {
    margin: 0px;
    margin-right: 20px;
    padding: 0px 0px;
  }
  body nav ul li a {
    font-size: 1em;
  }
  /*Body */
  #aboutme article p {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
  }

  h2 {
    border-bottom-color: grey;
    font-size: 2em;
  }
  #work {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr;
  }
  #worksection {
    display: grid;
    flex-direction: column;
  }
  #worksection .project1 img {
    height: 250px;
  }
  .image2,
  .image3,
  .image4,
  .image5 {
    height: 55%;
    width: 55%;
    margin: 10px 0px 10px 0px;
  }
  h3 {
    font-size: 1em;
    margin: 10px 0px 10px 0px;
  }
  .contactheader {
    display: flex;
    flex-direction: column;
  }
}
/* Media Q for 500px Size Display */
@media screen and (max-width: 500px) {
  #worksection {
    display: flex;
    flex-direction: column;
  }
  #worksection .project1 img {
    height: 150px;
  }
}
