/* Main Title CSS only */
body section #shadow {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  letter-spacing: 20px;
  font-family: "bad script";
  color: #fff;
  line-height: 2;
}

#shadow {
  text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 70px blue,
    0 0 80px blue, 0 0 100px blue, 0 0 150px blue;
}

#glow {
  animation: neon1 linear infinite 2s;
  will-change: opacity;
}

#blink {
  animation: blink linear infinite 2s;
}

@keyframes neon1 {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
}
@keyframes blink {
  70% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 1;
  }
}
