/* Main Title glow CSS only */
body section #shadow {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  letter-spacing: 20px;
  font-family: "bad script", "Segoe Script", "Stencil";
  color: #fff;
  line-height: 2;
}

#shadow {
  text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 70px blue,
    0 0 80px blue, 0 0 100px blue, 0 0 150px blue;
}

#glow {
  animation: neon1 linear infinite 2s;
  will-change: opacity;
}

#blink {
  animation: blink linear infinite 2s;
}

@keyframes neon1 {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
}
@keyframes blink {
  70% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 1;
  }

  /* Navigation bar buttons */
}
#testbutton,
#testbutton2,
#testbutton3,
#testbutton4 {
  height: 100%;
  width: 100%;
  background-color: rgb(19, 20, 22);
  overflow: hidden;
  font-family: "lato", "Trebuchet MS", "Verdana", "sans-serif";
}
#testbutton,
#testbutton2,
#testbutton3,
#testbutton4 {
  width: 150px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  line-height: 12px;
  left: calc(50% - 75px);
  top: calc(50% - 25px);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

#testbutton:before,
#testbutton2:before,
#testbutton3:before,
#testbutton4:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
#testbutton:hover,
#testbutton2:hover,
#testbutton3:hover,
#testbutton4:hover {
  -webkit-box-shadow: 0px 0px 50px 0px white;
  -moz-box-shadow: 0px 0px 50px 0px white;
  box-shadow: 0px 0px 50px 0px white;
  transform: 0.5s opacity ease;
  opacity: 1;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
#testbutton:after {
  content: "ABOUT ME";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}
#testbutton2:after {
  content: "WORK";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}
#testbutton3:after {
  content: "CONTACT ME";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}
#testbutton4:after {
  content: "RESUME";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}
/* Media Q for navigation buttons to shrink */
@media screen and (max-width: 1420px) {
  nav {
  }
  a#testbutton,
  a#testbutton2,
  a#testbutton3,
  a#testbutton4 {
    display: grid;
    flex-direction: column;
  }
}
