* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #92785b;
  margin: 0;
}
/* Navigation Bar */
header {
  display: flex;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}
#header-background {
  background-image: url("./images/header.jpg");
  width: 100%;
}
header h1 {
  flex: 1 0 200px;
  font-size: 48px;
  margin-left: 10px;
}

header img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
}

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

li {
  position: relative;
  display: flex;
  margin-left: 25px;
  padding: 0 10px;
  height: 100%;
}

header a {
  z-index: 1;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 38px;
  padding: 20px 5px;
}
/* Nav bar hover elements */
li:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: rgb(155, 152, 152);
  right: 0;
  z-index: 0;
  top: 33.33%;
  transition: all 0.5s;
}
li:after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: rgb(155, 152, 152);
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
  border-radius: 0px 0px 10px 10px;
}
a:before {
  position: absolute;
  content: "";
  height: 33.33%;
  width: 0;
  background-color: rgb(155, 152, 152);
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
  border-radius: 10px 10px 0px 0px;
}
li:hover:before,
li:hover:after,
li:hover a:before {
  width: 100%;
}
/*Main background image */
.background {
  background-image: url("./images/background5.jfif");
}
/* Header and paragraph font settings */
h2 {
  font-size: 52px;
  text-align: center;
  border-bottom: 5px solid #92785b;
  margin: 5px;
  padding: 10px;
  color: white;
}

h3 {
  color: white;
  font-size: 28px;
}
p {
  color: white;
  text-indent: 50px;
}

/* My Portfolio Works Section */
#work {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 70px 1fr;
}

#work > h2 {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
}

#worksection {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 250px);
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#worksection .project1 {
  grid-column: 1/3;
  grid-row: 1/1;
}
#worksection .project1 img {
  height: 300px;
}

#worksection .project2 {
  grid-column: 1/1;
  grid-row: 2/2;
}
#worksection .project3 {
  grid-column: 2/3;
  grid-row: 2/2;
}
#worksection .project4 {
  grid-column: 1/1;
  grid-row: 3/3;
}
#worksection .project5 {
  grid-column: 2/3;
  grid-row: 3/3;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  text-decoration: none;
  padding: 2px 2px;
  font-family: sans-serif;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
}
.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover {
  -webkit-box-shadow: 0px 0px 50px 0px pink;
  -moz-box-shadow: 0px 0px 50px 0px pink;
  box-shadow: 0px 0px 50px 0px pink;
  transition: 0.5s ease;
}

/* Contact me Section */
#contactme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 100px;
  padding-top: 50px;
}
.contactheader {
  padding-top: 30px;
}

#contactme > div {
  align-self: center;
  margin-left: 100px;
}

#resume img,
#linkedin img,
#github img,
#twitter img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#resume:hover::after {
  content: "Resume";
  position: absolute;
  background-color: darkgreen;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

#linkedin:hover::after {
  content: "Linkedin";
  position: absolute;
  background-color: #0077b5;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

#github:hover::after {
  content: "GitHub";
  position: absolute;
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}
#twitter:hover::after {
  content: "Twitter";
  position: absolute;
  background-color: #1da1f2;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}

/* Media Screen Adjustments */
@media screen and (max-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media screen and (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media screen and (max-width: 1025px) {
  #header-background {
    background-image: url("./images/headernew.png");
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: grey;
  }
  .background {
    background-image: url("./images/new2.jpg");
    font-size: 1em;
  }
  header img {
    align-self: center;
  }
  header h1 {
    font-size: small;
    flex: 0 1 0px;
    align-self: center;
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
  }
  body nav ul li a {
    font-size: 1em;
    margin-right: 50px;
  }
  #aboutme article p {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
  }

  h2 {
    border-bottom-color: grey;
    font-size: 1em;
  }
  #work {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr;
  }
  #worksection {
    display: grid;
    flex-direction: column;
  }
  #worksection .project1 img {
    height: 150px;
  }
  .image2,
  .image3,
  .image4,
  .image5 {
    height: 55%;
    width: 55%;
    margin: 10px 0px 10px 0px;
  }
  h3 {
    font-size: 1em;
    margin: 10px 0px 10px 0px;
  }
  .contactheader {
    display: flex;
    flex-direction: column;
  }
  #contactme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #contactme img {
    height: 50px;
    width: 50px;
  }
  #contactme > div {
    margin-left: 75px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media screen and (max-width: 481px) {
  #worksection {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
